services:
  redis:
    image: redis:latest
    container_name: redis-auth
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=redis
      - REDIS_ARGS=--requirepass redis
    networks:
      - mynetwork
    command: ["redis-server", "--requirepass", "redis"]
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "get", "healthcheck" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  mysql:
    image: mysql:8.0
    container_name: mysql-auth
    environment:
      MYSQL_DATABASE: auth
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3309:3306"
    volumes:
      - auth_mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - mynetwork

  app:
    depends_on:
      redis:
        condition: service_healthy
    build: .
    container_name: auth-service
    environment:
      SPRING_REDIS_HOST: localhost
      SPRING_REDIS_PORT: 6379
      SPRING_REDIS_PASSWORD: redis
      AUTH_USER_DB: root
      AUTH_PASS_DB: root

    ports:
      - "8083:8080"
    networks:
      - mynetwork


networks:
  mynetwork:
    driver: bridge

volumes:
  auth_mysql_data:
